/*Todas as páginas*/

body 
{
    background-image: url('..//Imagens/background.png');
}

#navbar 
{
    border-radius: 20px;
    background-color: rgba(39, 166, 226, 0.5);
    font-size: 20px;
    font-weight: bold;    
}

/*Index*/

.img_carrossel 
{
    height: 500px !important;
}

/*Show Produtos*/

.h2_show 
{
    text-align: center;
}

.span_info_produto 
{
    text-align: center;
    font-size: 25px;
}

#show_img 
{
    height: 400px;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.produto_descricao
{
    justify-content: left;
}

#section_img 
{
    justify-content: center;
}

.btn_produto 
{
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

/* Usuarios*/

.senha_user 
{
    width: 50%;
}

/* Grades de consultas, Labels e forms*/
.Status_Ativo
{
    color: black;
    font-size: 20px;
}

/* Grades de consultas*/
.Status_Inativo
{
    background-color: #f5c6cb;
    text-decoration: line-through;
    font-size: 20px;
}