/*BASIC*/

html {
    background-color: #56baed;
}

;
a {
    color: #000000;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

;
.container-fluid {
    background-image: url('..//Imagens/Fundomosaico.jpg');
}

;
h1 {
    color: #f6f6f6;
}

;
#navbar {
    border-radius: 20px;
    background-color: rgba(39, 166, 226, 0.5) !important;
}

;

/*Carrocel*/